<br><br>
<div class="container" style=" width: 90%; background-color: antiquewhite;" >

      <div style="width: 40%; margin: auto; padding: 4%;">

            <h2>
                  {{person.name}}
            </h2>
           
                 <h5> Username : </h5>  {{person.username}} <br>
                 <h5> Email : </h5>{{person.email}} <br>
                 <h5> Pincode : </h5> {{person.address.zipcode}}: <br>
                 <h5> Phone : </h5> {{person.phone}} <br>
                 <h5> Website : </h5> {{person.website}}

            
      </div>
</div>
