body{
      background-color: bisque;
      font-family: 'Kanit', sans-serif;
      font-weight: bold;
}

li{
      display: inline-block;
      list-style: none;
      background-color: red;
}

.one{
      background-color: yellow;
}

.two{
      color: white;
}

section.one{
      padding: 100 0 100 300;
      text-align: justify;
}

li.hj{
      color: aliceblue;
}

.box{
      height: 400px;
      width: 400px;
      background-color: orange;
      margin: 100px;
      border: 100px solid black;
      padding: 100px ;
}