<!-- <p>note-list works!</p> -->
<!-- lets handle the object  -->

<div class="hell">

      <input type="text" name="ghansham" id="ghansham" placeholder="enter to submit" (keypress)="addNotes($event)"> <br><br>
      <button (click)="changeFirst()">change content of first note </button> <br><br>
      <button (click)="somechange()">trigger cheeck after change something </button> <br><br>

      <h1>Note list :</h1>
      <div *ngIf="obj.length>0; else elseBlock"> 
            <!-- lets here add some button  -->
            <div *ngFor="let i of obj">
                  <app-note-list-item [obj]="i" (trigger)="deleteNote($event)">
                  </app-note-list-item>
            </div>
      </div>

      <ng-template #elseBlock>
           <h3>
            nothing to display please add something
           </h3> 
      </ng-template>

      <div class="inter">

      </div>
</div>


<div class="inter">

</div>